global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend fitforge-gateway-public
    bind *:80
    
    # Send all internet traffic hitting HAProxy natively down to Envoy NodePort
    default_backend fitforge-envoy-nodes

backend fitforge-envoy-nodes
    mode http
    balance roundrobin
    
    # ⚠️ EDIT THIS TO MATCH YOUR ENVOY NODEPORT:
    # Change '30080' to whatever NodePort Kubernetes assigned Envoy!
    
    # Add your worker node IPs here:
    server k8s-worker-1 172.31.33.231:32629 check 
    server k8s-worker-2 172.31.36.49:32629 check 
